
input.ng-invalid {
    border-color: pink;
}
input.ng-valid {
    border-color: lightgreen;
}
select.ng-invalid {
    border-color: pink;
}
select.ng-valid {
    border-color: lightgreen;
}
.loading{
    width: 100%;
    height: 600px;
    position: absolute;
    background: rgba(14, 14, 14, 0.62);
    z-index: 111;
}
.loading-spiner img{
    margin-top : 10%; 
}
.brdcrms{
    top:30px;
    text-align: right;
}
.panview{
        height: 170px;
}
.imgview{
    height: 130px;
}
.sstimg{
    width:60%;
    margin:0 auto;
}
.blackbg{
    background: black;
}

.panel-info{
    height:580px;
}

.sidepan{
    border-left: 2px solid black;
}

.sidepan2{
    border-bottom: 2px solid black;
}